python-telegram-bot[job-queue]==22.0
deep-translator==1.11.4
deepl==1.21.1
selenium==4.29.0
regex==2024.11.6
psycopg[binary]==3.2.6
python-dotenv==1.0.1
numpy==2.2.4
httpx==0.28.1
pytube==15.0.0
yt-dlp==2025.2.19
#youtube_dl # pip install --upgrade --force-reinstall "git+https://github.com/ytdl-org/youtube-dl.git"
Pillow==11.1.0
pandas==2.2.3
resvg-py