python-telegram-bot[job-queue]==21.10
deep-translator==1.11.4
deepl==1.21.0
selenium==4.28.1
regex==2024.11.6
psycopg2-binary==2.9.10
psycopg[binary]==3.2.4
python-dotenv==1.0.1
numpy==2.2.2
httpx==0.28.1
pytube==15.0.0
yt-dlp==2025.1.26
#youtube_dl # pip install --upgrade --force-reinstall "git+https://github.com/ytdl-org/youtube-dl.git"
Pillow==11.1.0
pandas==2.2.3