python-telegram-bot[job-queue]==22.5
deep-translator==1.11.4
deepl==1.24.0
selenium==4.38.0
regex==2025.11.3
psycopg2-binary==2.9.11
python-dotenv==1.2.1
numpy==2.3.4
httpx==0.28.1
pytube==15.0.0
yt-dlp==2025.10.22
#youtube_dl # pip install --upgrade --force-reinstall "git+https://github.com/ytdl-org/youtube-dl.git"
Pillow==12.0.0
pandas==2.3.3
resvg-py==0.2.3