python-telegram-bot[job-queue]==22.3
deep-translator==1.11.4
deepl==1.22.0
selenium==4.35.0
regex==2025.7.34
psycopg2-binary
python-dotenv==1.1.1
numpy==2.3.2
httpx==0.28.1
pytube==15.0.0
yt-dlp==2025.8.27
#youtube_dl # pip install --upgrade --force-reinstall "git+https://github.com/ytdl-org/youtube-dl.git"
Pillow==11.3.0
pandas==2.3.2
resvg-py==0.2.2